body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../images/playa2.jpg); 
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

