<br>
<div class="container-fluid"></div>
<div class="row"></div>
<div class="col-1"></div>
<div class="col-10">
<div class="alert alert-warning" role="alert" id="alerta">
    <h3 class="alert-heading">Aún no añadiste productos al carrito!</h3>
    <a href="/productos" class="btn btn-primary">Ir a productos</a>
    <hr>
    </div>
</div>
<div class="col-1"></div>
</div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />