<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="shortcut icon" href="/images/logo.png"/>
    <title>Hangloose</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/producto.css' />
  </head>
  <body>
