<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="30" height="30" alt="" loading="lazy">
    HANGLOOSE
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <% if ( locals.usuario ) { %>
         <li class="nav-link">Hola <%= locals.usuario.nombre %> </li>
         <li>
           <a class="nav-link" href="/usuarios/cerrar" /><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eject-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H1.656C.78 9.5.326 8.455.926 7.816L7.27 1.047zM.5 11.5a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-13a1 1 0 0 1-1-1v-1z"/>
          </svg></a>
          </li>
        <% }  else {%> 

        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Registrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Inicia sesión</a>
        </li>
      <% } %> 
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/carrito"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg></a>
        </li>
      </ul>
    </div>
  </nav>