<%- include('./partials/headAuth.ejs') %>

<%- include('./partials/navbar.ejs') %>

<br>
<div class="container-fluid"></div>
<div class="row"></div>
<div class="col-1"></div>
<div class="col-10">
<div class="alert alert-danger" role="alert" id="alerta">
    <h4 class="alert-heading">Página solo para usuarios:</h4>
    <p>Antes de ingresar al carrito debes <a href="/usuarios/login">iniciar sesion</a> o <a href="/usuarios">registrarte</a> en caso de no tener una cuenta. </p>
    <hr>
    </div>
</div>
<div class="col-1"></div>
</div>

</div>
