<%- include('./partials/headAuth.ejs') %>

<%- include('./partials/navbar.ejs') %>

<br>
<div class="container-fluid"></div>
<div class="row"></div>
<div class="col-1"></div>
<div class="col-10">
<div class="alert alert-success" role="alert" id="alerta">
    <h4 class="alert-heading">Orden exitosa!</h4>
    <p>Gracias por su compra</p>
    <hr>
    </div>
</div>
<div class="col-1"></div>
</div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%- include('./partials/footer.ejs') %>